@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewData["Title"] = "File Upload Form";
}

@model AastraTimeSheet.Models.Files

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div style="background-color:whitesmoke;width:350px;margin-top:100px;">
        <div style="padding:20px;">
            <img src="~/Aastra.png" title="Aastra" width="100" />
            <h3 style="padding:15px;">ExcelFileProcess</h3>
            <form asp-action="ProcessFile" asp-controller="Home" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label for="employeeUpdatesFile" class="form-label">Employee Daily Updates Excel File</label>
                    <input type="file" class="form-control" id="employeeUpdatesFile" name="EmployeeUpdatesFile">
                </div>
                <div class="form-group">
                    <label for="leaveRecordsFile" class="form-label">Leave Records Excel File</label>
                    <input type="file" class="form-control" id="leaveRecordsFile" name="LeaveRecordsFile">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
                </div>
            </form>
            <p class="m-t">
                <small>
                    <strong>Aastra</strong> <br />Copyright &copy; @System.DateTime.Now.Year
            </p>
            <div class="row"></div>
        </div>
    </div>
</div>